
<div class="jumbotron">
  <h1>Welcome to Instagram</h1>
  <p>Create, Snap, Upload</p>
  <p>
    <a class="btn btn-default btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<% if user_signed_in? %>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://images.pexels.com/photos/375880/pexels-photo-375880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="idk">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Test</p>
        <p><a href="#" class="btn btn-default" role="Edit">Button</a></p>
      </div>
    </div>
  </div>
</div>

<% else %>

<% end %>
